{% extends 'base.html' %}

{% block title %}
Регистрация :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
<style>
    h1{
    color: white;
    font-family: Georgia, serif;
}

.btn{
    background-color: #d7d2cc;
    border-color: #d7d2cc;
    color: #0c0c0d;
}

label{
    color: white;
}

</style>
<h1>Регистрация</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-block">Зарегистрироваться</button>
</form>


{% endblock %}
